# Assistant
To generate a DataFrame from the given URL, we can use the `pandas` package in Python. We will read the CSV file from the URL and display the first 10 rows of the DataFrame.

In [111]:
import pandas as pd

url = 'https://raw.githubusercontent.com/AnnetteChiu/airport/main/airports.csv'
url2 = 'https://raw.githubusercontent.com/AnnetteChiu/airport/main/airport-frequencies.csv'
url3 = 'https://raw.githubusercontent.com/AnnetteChiu/airport/main/runways.csv'
df = pd.read_csv(url)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

# Display the first 10 rows of the DataFrame
df.head(10)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,506791,00AN,small_airport,Katmai Lodge Airport,59.093287,-156.456699,80.0,NaN,US,US-AK,King Salmon,no,00AN,NaN,00AN,NaN,NaN,NaN
5,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
6,322127,00AS,small_airport,Fulton Airport,34.942803,-97.818019,1100.0,NaN,US,US-OK,Alex,no,00AS,NaN,00AS,NaN,NaN,NaN
7,6527,00AZ,small_airport,Cordes Airport,34.305599,-112.165001,3810.0,NaN,US,US-AZ,Cordes,no,00AZ,NaN,00AZ,NaN,NaN,NaN
8,6528,00CA,small_airport,Goldstone (GTS) Airport,35.354740,-116.885329,3038.0,NaN,US,US-CA,Barstow,no,00CA,NaN,00CA,NaN,NaN,NaN
9,324424,00CL,small_airport,Williams Ag Airport,39.427188,-121.763427,87.0,NaN,US,US-CA,Biggs,no,00CL,NaN,00CL,NaN,NaN,NaN


By using the `pandas` package, we can easily read the CSV file from the given URL and display the first 10 rows of the DataFrame.

In [114]:
import numpy as np
import math
import matplotlib.pyplot as plt

In [116]:
df2.head(2)

       id  airport_ref airport_ident   type description  frequency_mhz
0   70518         6528          00CA   CTAF        CTAF          122.9
1  307581         6589          01FL  ARCAL         NaN          122.9

In [118]:
df3.head(3)

,id,airport_ref,airport_ident,length_ft,width_ft,surface,lighted,closed,le_ident,le_latitude_deg,le_longitude_deg,le_elevation_ft,le_heading_degT,le_displaced_threshold_ft,he_ident,he_latitude_deg,he_longitude_deg,he_elevation_ft,he_heading_degT,he_displaced_threshold_ft
0,269408,6523,00A,80.0,80.0,ASPH-G,1,0,H1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,255155,6524,00AK,2500.0,70.0,GRVL,0,0,N,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN
2,254165,6525,00AL,2300.0,200.0,TURF,0,0,01,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN

In [120]:
df.groupby(['iso_country', 'type']).size()

iso_country  type
AD           closed              1
             heliport            2
AE           closed              4
             heliport          203
             large_airport       4
                              ...
ZW           closed              6
             heliport            5
             large_airport       1
             medium_airport      8
             small_airport     135
Length: 988, dtype: int64

In [122]:
row_count = df.shape[0] # 0 for row
column_count = df.shape[1] # 1 for column
print("Number of rows:", row_count)
print("Number of columns:", column_count)

Number of rows: 78272
Number of columns: 18

In [124]:
pip install geopy -i http://pypi.douban.com/simple --trusted-host pypi.douban.com

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: http://pypi.douban.com/simple
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: geopy in /home/a7bc1bbb-711a-45af-86cc-830a1f00c022/.local/lib/python3.11/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /home/a7bc1bbb-711a-45af-86cc-830a1f00c022/.local/lib/python3.11/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [138]:
!pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/ce/85/62825cabc6aad53104b7b6d12eb2ad74737d268630032d07b74d4444cb72/psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 29.7 MB/s eta 0:00:000:00:01[36m0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [168]:
pip install geopy

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: geopy in /home/a7bc1bbb-711a-45af-86cc-830a1f00c022/.local/lib/python3.11/site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /home/a7bc1bbb-711a-45af-86cc-830a1f00c022/.local/lib/python3.11/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [174]:
import math
# Python 3 program for the
# haversine formula
def haversine(lat1, lon1, lat2, lon2):
     
    # distance between latitudes
    # and longitudes
    dLat = (lat2 - lat1) * math.pi / 180.0
    dLon = (lon2 - lon1) * math.pi / 180.0
 
    # convert to radians
    lat1 = (lat1) * math.pi / 180.0
    lat2 = (lat2) * math.pi / 180.0
 
    # apply formulae
    a = (pow(math.sin(dLat / 2), 2) +
         pow(math.sin(dLon / 2), 2) *
             math.cos(lat1) * math.cos(lat2));
    rad = 6371
    c = 2 * math.asin(math.sqrt(a))
    return rad * c

# Driver code
if __name__ == "__main__":
    lat1 = 35.289448
    lon1 = 79.79672
    lat2 = 35.290348
    lon2 = 79.796616
     
    print(haversine(lat1, lon1,lat2, lon2), "K.M.")

0.10051960641905637 K.M.

In [189]:
df[df.ident == 'KLAX'].id

37777    3632
Name: id, dtype: int64

In [193]:
df.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [195]:
df[(df.iso_region == 'US-CA') & (df.type == 'seaplane_base')].head(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
1033,7436,0O0,seaplane_base,San Luis Reservoir Seaplane Base,37.058300,-121.125999,544.0,NaN,US,US-CA,Los Banos,no,0O0,NaN,0O0,NaN,NaN,NaN
2616,8877,22CA,seaplane_base,Commodore Center Seaplane Base,37.878893,-122.512697,NaN,NaN,US,US-CA,Mill Valley,no,22CA,NaN,22CA,NaN,NaN,NaN
6599,12298,5CA9,seaplane_base,Konocti - Clear Lake Seaplane Base,38.977699,-122.718002,1326.0,NaN,US,US-CA,Kelseyville,no,5CA9,NaN,5CA9,NaN,NaN,NaN

In [197]:
df[(df.iso_region == 'US-CA') & (df.type == 'large_airport')][['ident', 'name', 'municipality']]

      ident                                             name   municipality
36382  KCMA                  Camarillo International Airport      Camarillo
37777  KLAX                Los Angeles International Airport    Los Angeles
38309  KOAK       Metropolitan Oakland International Airport        Oakland
38365  KONT                    Ontario International Airport        Ontario
39918  KSAN                  San Diego International Airport      San Diego
39958  KSFO              San Francisco International Airport  San Francisco
39979  KSJC  Norman Y. Mineta San Jose International Airport       San Jose
40001  KSMF                 Sacramento International Airport     Sacramento
40007  KSNA   John Wayne Orange County International Airport      Santa Ana

In [199]:
df2[df2.airport_ident == 'KLAX'].sort_values('type')

          id  airport_ref airport_ident  type description  frequency_mhz
12211  60767         3632          KLAX   APP   SOCAL APP          36.07
12212  60766         3632          KLAX   APP   SOCAL APP         124.30
12213  60768         3632          KLAX  ATIS        ATIS         133.80
12214  60769         3632          KLAX   CLD    CLNC DEL         121.40
12215  60770         3632          KLAX   DEP   SOCAL DEP         124.30
12216  60771         3632          KLAX   GND         GND         121.65
12217  60772         3632          KLAX  MISC          CG          34.50
12218  60773         3632          KLAX  MISC          CG         898.40
12219  60774         3632          KLAX   OPS          AF          37.22
12220  60775         3632          KLAX   TWR         TWR         119.80
12221  60776         3632          KLAX  UNIC      UNICOM         122.95

In [201]:
df2[df2.airport_ident == 'KLAX'].sort_values('type', ascending=False)

          id  airport_ref airport_ident  type description  frequency_mhz
12221  60776         3632          KLAX  UNIC      UNICOM         122.95
12220  60775         3632          KLAX   TWR         TWR         119.80
12219  60774         3632          KLAX   OPS          AF          37.22
12217  60772         3632          KLAX  MISC          CG          34.50
12218  60773         3632          KLAX  MISC          CG         898.40
12216  60771         3632          KLAX   GND         GND         121.65
12215  60770         3632          KLAX   DEP   SOCAL DEP         124.30
12214  60769         3632          KLAX   CLD    CLNC DEL         121.40
12213  60768         3632          KLAX  ATIS        ATIS         133.80
12211  60767         3632          KLAX   APP   SOCAL APP          36.07
12212  60766         3632          KLAX   APP   SOCAL APP         124.30

In [203]:
df[df.type.isin(['heliport', 'balloonport'])]

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total RF Heliport,40.070985,-74.933689,11.0,NaN,US,US-PA,Bensalem,no,K00A,NaN,00A,https://www.penndot.pa.gov/TravelInPA/airports...,NaN,NaN
10,322658,00CN,heliport,Kitchen Creek Helibase Heliport,32.727374,-116.459742,3350.0,NaN,US,US-CA,Pine Valley,no,00CN,NaN,00CN,NaN,NaN,NaN
16,6535,00GE,heliport,Caffrey Heliport,33.887982,-84.736983,957.0,NaN,US,US-GA,Hiram,no,00GE,NaN,00GE,NaN,NaN,NaN
17,6536,00HI,heliport,Kaupulehu Heliport,19.832881,-155.978347,43.0,OC,US,US-HI,Kailua-Kona,no,00HI,NaN,00HI,NaN,NaN,NaN
22,6540,00IN,heliport,St Mary Medical Center Heliport,41.511398,-87.260597,634.0,NaN,US,US-IN,Hobart,no,00IN,NaN,00IN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78209,351677,ZW-0055,heliport,Elephant Hills Heliport,-17.911990,25.828020,3054.0,AF,ZW,ZW-MN,Victoria Falls,no,NaN,NaN,NaN,NaN,NaN,NaN
78210,351678,ZW-0056,heliport,Chikopokopo Heliport,-17.964380,25.809930,3012.0,AF,ZW,ZW-MN,Masuwe,no,NaN,NaN,NaN,NaN,NaN,NaN
78211,351679,ZW-0057,heliport,Masuwe Heliport,-17.965880,25.810550,3005.0,AF,ZW,ZW-MN,Masuwe,no,NaN,NaN,NaN,NaN,NaN,NaN
78213,351689,ZW-0059,heliport,Big Four Heliport,-17.913540,25.832350,2986.0,AF,ZW,ZW-MN,Victoria Falls,no,NaN,NaN,NaN,NaN,NaN,NaN
78267,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,EU,GB,GB-ENG,Sealand,no,NaN,NaN,NaN,http://www.sealandgov.org/,https://en.wikipedia.org/wiki/Principality_of_...,Roughs Tower Helipad